<div>
  <h2>video {{id}}</h2>
  <e-ngx-xgplayer [options]="playerOptions"/>
  <div class="mse" id="mse"></div>
  <script src="https://unpkg.byted-static.com/xgplayer/2.31.2/browser/index.js" type="text/javascript">
  </script>
  <script type="text/javascript">
    let player = new Player({
      id: "mse",
      autoplay: false,
      volume: 0.3,
      airplay: true,
      url: "http://10.100.100.11:5000/api/video",
      playsinline: true,
      height: window.innerHeight,
      width: window.innerWidth,
      networkState: true,
      readyState: true,
      pip: true,
      download: true,
      playbackRate: [0.5, 0.75, 1, 1.5, 2]
    })
  </script>
</div>
